<section class="flex flex-col gap-3 items-center justify-start w-full h-full">
  <h1 class="font-bold text-xl">Creá tu encuesta!</h1>

  <section
    class="flex flex-col gap-2 items-start justify-center bg-white px-5 py-4 rounded-2xl"
  >
    <h3 class="font-bold text-xm">Información de la encuesta</h3>

    <div
      class="px-2 py-1 focus-within:outline-2 outline-purple-700 rounded-2xl"
    >
      <label class="font-medium text-xm" for="nombreEncuesta"
        >Titulo encuesta:
      </label>
      <input
        class="outline-none placeholder:text-gray-400 placeholder:italic"
        type="text"
        id="nombreEncuesta"
        placeholder="Nombre de la encuesta"
        [value]="tituloEncuesta()"
        (input)="tituloEncuesta.set(txtTituloEncuesta.value)"
        #txtTituloEncuesta
      />
    </div>

    <div
      class="px-2 py-1 focus-within:outline-2 outline-purple-700 rounded-2xl"
    >
      <label class="font-medium text-xm" for="nombreEncuesta"
        >Descripción encuesta:
      </label>
      <input
        class="outline-none placeholder:text-gray-400 placeholder:italic"
        type="text"
        id="nombreEncuesta"
        placeholder="Descripción de la encuesta"
        [value]="descEncuesta()"
        (input)="descEncuesta.set(txtDescEncuesta.value)"
        #txtDescEncuesta
      />
    </div>

    <div
      class="px-2 py-1 focus-within:outline-2 outline-purple-700 rounded-2xl"
    >
      <label class="font-medium text-xm" for="emailCliente"
        >E-mail cliente:
      </label>
      <input
        class="outline-none placeholder:text-gray-400 placeholder:italic"
        type="email"
        [(ngModel)]="idEmail"
        id="emailCliente"
        placeholder="Email de la encuesta"
        [value]="emailEncuesta()"
        (input)="emailEncuesta.set(txtEmailEncuesta.value)"
        #txtEmailEncuesta
      />
    </div>
  </section>

  <div
    class="flex flex-col gap-2 items-start justify-center bg-white px-5 py-4 rounded-2xl w-full"
  >
    <h3 class="font-bold">Preguntas de la encuesta</h3>
    @for (pregunta of preguntas; track $index){
    <div class="flex flex-col">
      <!--Para despues <ng-container *ngComponentOutlet=></ng-container>-->
      @let preguntaId = "pregunta"+$index; @switch (pregunta.tipoPregunta){
      @case ("opciones_radio"){
      <label class="font-medium" for="{{ preguntaId }}"
        >Pregunta:
        <span class="font-normal">{{ pregunta.pregunta }} </span>
      </label>
      @for (opcion of pregunta.opciones; track $index){
      <div>
        <input
          class="inter-300"
          type="radio"
          id="opcion-{{ preguntaId }}-{{ $index }}"
          name="opcion-{{ preguntaId }}"
          value="{{ opcion }}"
        />
        <label class="inter-300" for="opcion-{{ preguntaId }}-{{ $index }}">
          {{ opcion }}</label
        >
      </div>
      } } @case ("abierta"){
      <div class="flex flex-col gap-1">
        <label class="font-medium" for="{{ preguntaId }}"
          >Pregunta:
          <span class="font-normal">{{ pregunta.pregunta }} </span>
        </label>
        <input
          class="outline-1 rounded-2xl"
          id="{{ preguntaId }}"
          type="text"
          disabled
        />
      </div>
      } }
      <button
        class="bg-red-600 text-white hover:text-gray-200 text-xs font-medium py-2 px-4 mt-3 mb-6 rounded-2xl cursor-pointer w-32"
        id="boton-eliminar"
        (click)="eliminarPregunta($index)"
      >
        Eliminar
      </button>
    </div>
    }@empty {
    <h3 class="font-normal italic text-gray-400">
      No se han agregado preguntas a la encuesta
    </h3>
    }
  </div>

  <section
    class="flex flex-col gap-2 items-start justify-center bg-white px-5 py-4 rounded-2xl w-full"
  >
    <div class="flex flex-col gap-3 w-full">
      <h3 class="text-xm font-bold">Creación de preguntas</h3>
      <div class="mb-3 flex flex-col gap-2">
        <label for="pregunta" class="font-medium text-xm">Pregunta: </label>
        @if(pregunta_a_crear() === 'default') {
        <input
          type="text"
          class="outline-none placeholder:text-gray-400 placeholder:italic cursor-no-drop w-3/4"
          readonly
          placeholder="Debe seleccionar un tipo de pregunta"
        />
        } @else {
        <input
          type="text"
          class="outline-none placeholder:text-gray-400 placeholder:italic"
          placeholder="Escriba su pregunta"
          name="pregunta"
          [value]="preguntaKevin()"
          (input)="preguntaKevin.set(txtPregunta.value)"
          #txtPregunta
        />
        }
      </div>

      <div class="flex flex-col justify-center items-start gap-2">
        <label for="seleccionar_pregunta" class="font-medium text-xm"
          >Tipo:
        </label>
        <select
          class="px-3 py-2 outline-none w-3/4"
          [(ngModel)]="pregunta_a_crear"
          name="seleccionar_pregunta"
          id="seleccionar_pregunta"
        >
          @for(opcion_pregunta of opciones_preguntas; track $index) { @if
          (opcion_pregunta.valor !== 'default') {
          <option class="inter-300" value="{{ opcion_pregunta.valor }}">
            {{ opcion_pregunta.texto }}
          </option>
          } @else {
          <option
            class="inter-300"
            value="{{ opcion_pregunta.valor }}"
            disabled
          >
            {{ opcion_pregunta.texto }}
          </option>
          } }
        </select>
      </div>
    </div>

    <div id="container" class="flex flex-col gap-2 text-xm w-full">
      @switch (pregunta_a_crear()) { @case ("default"){
      <p>Seleccione un tipo de pregunta</p>
      } @case ("abierta"){
      
      } @case ("opciones_radio"){
      <label class="font-medium" for="opcionRadio">Opciones</label>
      @for(opcion of opcionesRadio(); track $index) {
      <div class="flex items-center gap-2">
        <input type="radio" name="opcionRadio" id="opcionRadio-{{ $index }}" />
        <label for="opcionRadio-{{ $index }}">{{ opcion }}</label>
      </div>
      }
      <input
        type="text"
        placeholder="Agregue su nueva opción aquí"
        class="outline-1 outline-black px-3 py-2 w-3/4 placeholder:text-gray-400 placeholder:italic"
        name="opcionRadio"
        id="opcionRadio"
        [value]="opcionRadio()"
        (input)="opcionRadio.set(txtOpcionRadio.value)"
        #txtOpcionRadio
      />
      } }
    </div>

    <div class="flex gap-2">
      @switch (pregunta_a_crear()) { @case ("default") {
      <button
        class="bg-gray-400 text-white text-xs font-medium px-3 py-2 mt-2 rounded-2xl cursor-no-drop w-32"
      >
        Agregar pregunta
      </button>

      <button
        class="bg-gray-400 text-white text-xs font-medium px-3 py-2 mt-2 rounded-2xl cursor-no-drop w-32"
        (click)="agregarPreguntaKevin()"
      >
        Agregar opción
      </button>
      } @case ("abierta") {
      <button
        class="bg-blue-600 text-white hover:text-gray-200 text-xs font-medium px-3 py-2 mt-2 rounded-2xl cursor-pointer w-32"
        (click)="agregarPreguntaKevin()"
      >
        Agregar pregunta
      </button>

      <button
        class="bg-gray-400 text-white text-xs font-medium px-3 py-2 mt-2 rounded-2xl cursor-no-drop w-32"
      >
        Agregar opción
      </button>
      } @default {
      <button
        class="bg-blue-600 text-white hover:text-gray-200 text-xs font-medium px-3 py-2 mt-2 rounded-2xl cursor-pointer w-32"
        (click)="agregarPreguntaKevin()"
      >
        Agregar pregunta
      </button>

      <button
        class="bg-blue-600 text-white hover:text-gray-200 text-xs font-medium px-3 py-2 mt-2 rounded-2xl cursor-pointer w-32"
        (click)="addOptionRadio()"
      >
        Agregar opción
      </button>
      } }
    </div>
  </section>

  <section>
    @if(this.preguntas.length > 0) {
    <button
      id="boton-crear"
      class="bg-green-600 text-white hover:text-gray-200 font-bold py-2 px-4 mt-2 rounded-2xl cursor-pointer"
      (click)="crearEncuesta()"
    >
      Crear
    </button>
    }
  </section>
</section>


<button #openModalButton type="button" class="hidden py-3 px-4 items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-scale-animation-modal" data-hs-overlay="#preline-modal-creacion">
  Open modal
</button>  
<div  #modal   id="preline-modal-creacion"
        class="hs-overlay hidden size-full fixed top-0 start-0 z-80 overflow-x-hidden overflow-y-auto pointer-events-none"
        role="dialog" tabindex="-1" aria-labelledby="hs-scale-animation-modal-label"
    >
    <div
        class="hs-overlay-animation-target hs-overlay-open:scale-100 hs-overlay-open:opacity-100 scale-95 opacity-0 ease-in-out transition-all duration-200 sm:max-w-lg sm:w-full m-3 sm:mx-auto min-h-[calc(100%-56px)] flex items-center">
        <div
            class="w-full flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl pointer-events-auto dark:bg-neutral-800 dark:border-neutral-700 dark:shadow-neutral-700/70">
            
            <!--Top bar-->
            <div class="flex justify-between items-center py-3 px-4 border-b border-gray-200 dark:border-neutral-700">
                
                <!--Modal title-->
                <h3 id="hs-scale-animation-modal-label" class="font-bold text-gray-800 dark:text-white">
                    Encuesta creada con éxito!
                </h3>

                <!--Close X-->
                <button type="button"
                    data-hs-overlay="#preline-modal-creacion"
                    class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-400 dark:focus:bg-neutral-600"
                    aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                    </svg>
                </button>


            </div>

            <!--Content-->
            <div class="p-4 overflow-y-auto">

                <!--Clipboard-->
                <button type="button"
                    class="relative py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-mono rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                    [cdkCopyToClipboard]="link_encuesta_signal()"
                    (cdkCopyToClipboardCopied)="onCopied($event)">

                    {{link_encuesta_signal()}}

                    <span class="border-s border-gray-200 ps-3.5 dark:border-neutral-700">
                        <svg [ngClass]="{'hidden': copyClicked(), '': !copyClicked()}"
                        class="size-4 group-hover:rotate-6 transition"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect width="8" height="4" x="8" y="2" rx="1" ry="1"></rect>
                            <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
                        </svg>

                        <svg 
                        [ngClass]="{'hidden': !copyClicked(), '': copyClicked()}"
                        class="hidden size-4 text-blue-600 rotate-6"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </span>

                </button>

            </div>

            <!--Bottom - buttons-->
            <div
                class="flex justify-end items-center gap-x-2 py-3 px-4 border-t border-gray-200 dark:border-neutral-700">
                <button type="button"
                    class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                    data-hs-overlay="#preline-modal-creacion">
                    Listo!
                </button>
            </div>
        </div>
    </div>
</div>