<nav class="flex justify-around items-center p-4 bg-[#0B0430] text-white font-medium z-50">
  <img src="assets/img/inquiroLogo.png" alt="inquiro logo" width="60px" height="60px" />

  <ul class="flex gap-9">
    <li><a href="#home" class="hover:bg-[#2A1F5A] p-4 rounded-2xl">Home</a></li>
    <li>
      <a href="#howitworks" class="hover:bg-[#2A1F5A] p-4 rounded-2xl">How It Works</a>
    </li>
    <li>
      <a href="#featuredtechnologies" class="hover:bg-[#2A1F5A] p-4 rounded-2xl"
        >Featured Technologies</a
      >
    </li>
    <li><a href="#plans" class="hover:bg-[#2A1F5A] p-4 rounded-2xl">Plans</a></li>
    <li><a href="#testimonials" class="hover:bg-[#2A1F5A] p-4 rounded-2xl">Testimonials</a></li>
    <li><a href="#" class="hover:bg-[#2A1F5A] p-4 rounded-2xl">Contact</a></li>
  </ul>

  <div class="flex gap-9">
    <button class="hover:bg-[#2A1F5A] p-4 rounded-2xl">Mode</button>
    <button class="hover:bg-[#2A1F5A] p-4 rounded-2xl">Language</button>
  </div>
</nav>
