@if (isAuthenticated){
<div class="bg-indigo-950 dark:bg-[#080224] w-screen h-screen flex flex-row justify-center p-5 gap-5">
  <app-nav-menu (logOutClickEvent)="logout()"></app-nav-menu>
  <main class="flex-4/5 flex flex-col items-center justify-start bg-gray-200 dark:bg-[#170e40] text-black rounded-3xl p-5 h-full overflow-y-scroll scroll-hidden">
    <router-outlet />
  </main>
</div>
} @else {
<!-- <div id="welcome-main">
  <h1 class="inter-700">INQUIRO</h1>
  <h3 class="inter-500">Bienvenidos!</h3>
  <a class="inter-500" routerLink="/#" (click)="login()">Login</a>
</div> -->
<div class="bg-indigo-950 w-screen h-screen flex flex-row justify-center p-5">
  <section class="flex flex-col items-center text-white">
    <img src="assets/img/inquiroLogo.png" alt="inquiro logo" class="w-52 h-52 mx-auto mt-10 mb-5" />

    <div>
      <h2 class="font-bold">Bienvenido a inquiro</h2>
      <p class="italic">"El puente entre la tecnología y la voz de las personas"</p>
    </div>
  </section>

  <section class="bg-white text-black flex-3/4 rounded-3xl flex flex-col items-center justify-center p-10 mx-5">
    <h2 class="font-bold">Inicia sesión con cognito</h2>
    <a class="bg-indigo-950 text-white hover:text-gray-200 font-bold py-2 px-4 mt-2 rounded-2xl" routerLink="/#" (click)="login()">Login</a>
  </section>
</div>
}
