<blockquote class="relative border-l-3 border-l-gray-200 hover:border-l-[#0B0430] dark:border-l-gray-500 dark:hover:border-l-gray-200 ps-4 sm:ps-6 transition">
  <p class="text-gray-800 dark:text-gray-100 sm:text-lg italic">"{{ text | transloco}}"</p>

  <footer class="mt-4">
    <div class="flex items-center">
      <div class="shrink-0">
        <img class="size-10 rounded-full object-cover" [src]="avatar | transloco" [alt]="author" />
      </div>
      <div class="ms-4">
        <div class="text-base font-semibold text-gray-800 dark:text-gray-300">{{ author | transloco}}</div>
        @if(role) {
        <div class="text-xs text-gray-500 dark:text-gray-400">{{ role | transloco}}</div>
        }
      </div>
    </div>
  </footer>
</blockquote>
