/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "OpenDyslexic";
  src: url("../public/fonts/OpenDyslexic-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "OpenDyslexic bold";
  src: url("../public/fonts/OpenDyslexic-Bold.woff2") format("woff2");
}


html{
    width: 100vw;
    min-height: 100vh;
    height: auto;
}

.dyslexic{
  font-family: "OpenDyslexic";
}

body{
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

app-root{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Oculta el scrollbar pero mantiene el scroll funcional */
.scroll-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}
